body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 40px;
}
h2 span{
    font-size: 40px;
    color: #FFC61D;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.acnhorbutton{
    text-decoration: none;
    background: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.first-section{
   background-image: url("images/top-banner.png");
   background-repeat: no-repeat;
   padding-bottom: 50%;
}

.second-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 50%;
 }

 .third-section{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 40%;
 }
 #full{
    box-sizing: border-box;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
 }
 #baby{
    box-shadow: 10px 10px 10px gray;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
 }


 footer p{
     text-align: center;
 }
